body {
    background-color: white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid white;
    margin: 10px;
    line-height: 40px;
    
}
div {
   background-color: salmon; 
   padding: 100px;
}
table {
    text-align: center;
}
img {
    background-color: white;
    border: 1px solid salmon;
}
.img-div {
    position: relative;
}
figure {
    position: absolute;
    border: 1px solid salmon;
    background-color: #ff4d4d;
    border-radius: 50px;
    padding-bottom: 100px;
}
#one {
    right: 0px;
    top: 10px;
    border: ;

}
#two {
    right: 310px;
    top: 10px;
}
#three {
    right: 610px;
    top: 10px;
}
#four {
    right: 910px;
    top: 10px;
}
.versions {
    right: 30px;
}
.radius {
    border-radius: 50px;
}
@media screen and (min-width: 600px) {
    figure {
      height: 400px;
    }
  }
  @media (max-width: 599px) {
    [class*="col-3"] {
        width: 100%;
      }
  }